<p><img src="./img/LogoPN.png" width="60%"></p>
<p class="title is-4">PC chairs</p>
<ul>
    <li><a href="https://informatica.unito.it/persone/elviogilberto.amparore">Elvio Amparore</a></li>
    <li><a href="https://ipipan.waw.pl/en/institute/employees/lukasz-mikulski">Łukasz Mikulski</a></li>
</ul>

<p class="title is-4">Local chairs</p>
<ul>
    <li><a href="https://lipn.univ-paris13.fr/~andre/">Étienne André</a></li>
    <li><a href="https://sites.google.com/site/carlosolarte">Carlos Olarte</a></li>
</ul>


<p class="title is-4">Contact</p>
<ul>
    <li><a href="mailto:pn2025@petrinet.net">pn2025@petrinet.net</a></li> 
</ul>

<!-- <p class="title is-4">News</p> -->

